* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

/* My Css */

p, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

.back {
    background: linear-gradient(to bottom left, black 60%, lightgray 100%);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

body{
    max-width: 100%;
}

.personal-information {
    width: 20rem;
    height: 90vh;
    margin: 2rem;
    background-color: white;
    border-radius: 2rem;
    position: relative;
}

.profile-pic {
    width: 100%;
    height: 16rem;
    display: grid;
    place-items: center;
}

.picture {
    width: 75%;
    margin-top: 0.5rem;
    border-radius: 100%;
}

.profile-info {
    width: 100%;
    height: 12rem;
    height: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.8rem;
}

.profile-title {
    margin-bottom: 2rem;
}

.profile-items {
    margin-top: 20px;
}

.know-more-btn {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    height: fit-content;
    margin: auto;
    display: grid;
    place-items: center;
}

.btn-info{
    width: 15rem;
    height: 1.8rem;
    border-radius: 2rem;
    color: white;
    background-color: black;
    transition: background-color 0.5s ease;
}

.btn-info:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.profissional-information {
    width: 70rem;
    height: fit-content;
    margin: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    display: flex;
}

.options-bar {
    width: 4rem;
    height: 100%;
    border-radius: 2rem 10px 10px 2rem;
    background-color: black;
    display: grid;
    place-items: center;
    transition: width 0.5s ease;
}

.bar-icon {
    color: white;
    font-size: 25px;
    margin-top: 2rem;
}

.bar-content {
    display: grid;
    place-items: center;
}

.options-bar:hover {
    width: 11rem;
}

.icon-description {
    display: flex;
}

.icon-label {
    color: #aaaaaa;
    margin-top: 2rem;
    margin-left: 7px;
    display: none;
}

.options-bar:hover p {
    display: block;
}

.options-bar:hover .icon-description {
    display: flex;
    justify-content: start;
    width: 100%;
}

.footer-content {
    width: 85%;
    height: 3.5rem;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    right: 3;
    border-radius: 10px 10px 0px 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-icon {
    color: white;
    font-size: 25px;
    margin-top: 1rem;
}

footer {
    display: none;
}

.text-information {
    padding-left: 1rem;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}

.icon-title {
    font-size: 25px;
}

.icon-title-label {
    color: rgba(0, 0, 160, 0.521);
}

.bar-progress {
    width: 17rem;
    height: 25px;
    border: 1px solid black;
    background-color: black;
    border-radius: 20px;
    display: flex;
    place-items: center start;
}

.progress {
    background-color: blue;
    height: 20px;
    margin-left: 5px;
    border-radius: 20px;
    display: grid;
    place-items: center;
}

@media screen and (max-width: 1350px) {
    .profissional-information {
        width: 60%;
        height: fit-content;
        margin: 0.5rem;
        margin-top: 2rem;
    }
    .back {
        height: fit-content;
    }
}

@media screen and (max-width: 880px) {
    .personal-information {
        width: 90%;
        margin: auto;
        margin-top: 1rem;
    }
    .profissional-information {
        width: 90%;
        height: fit-content;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .back {
        height: fit-content;
    }
    .options-bar {
        display: none;
    }
    footer {
        display: block;
    }
}